<!DOCTYPE html>
<head lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Все задания</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TODO список</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/items}">Все</a>
                <a class="nav-item nav-link" th:href="@{/completed_items}">Выполненные</a>
                <a class="nav-item nav-link" th:href="@{/new_items}">Новые</a>
                <a class="nav-item nav-link" th:href="@{/formAddUser}"><b>Регистрация</b></a>
                <a class="nav-item nav-link" th:if="${current.name == 'Гость'}">
                    <form th:action="@{/loginPage}" method="GET">
                        <button type="submit" class="btn btn-info"><span th:text="${current.name}"></span> | Войти</button>
                    </form>
                </a>
                <a th:if="${current.name != 'Гость'}">
                    <a class="nav-item nav-link active" th:href="@{/formUpdateUser}">Редактировать</a>&nbsp&nbsp
                    <a class="nav-item nav-link" th:if="${current.login == 'admin'}" th:href="@{/itemsOfUsers}">Задачи пользователей</a>&nbsp&nbsp
                    <a class="nav-item nav-link">
                        <form th:action="@{/logout}" method="GET">
                            <button type="submit" class="btn btn-success">
                                <span th:text="${current.name}"></span> | Выйти</button>
                        </form>
                    </a>
                </a>
            </div>
        </div>
    </nav>
    <div class="card-body">
        <form th:action="@{/updateUser}" method="POST" th:object="${current}">
            <div class="form-group"><b>Редактировать пользователя:</b><br>
                <span th:if="${msg} != null" th:text="${msg}" style="color: crimson" ></span><br><br>
                <input type="hidden" name="id" th:value="${current.id}"/>
                <label for="name">Имя</label><br>
                <input type="text" id="name" placeholder="Введите имя" required th:field="*{name}"/><br><br>
                <label th:with="isAdmin=${current.login == 'admin'}" for="login">Login<span th:if="${isAdmin}">(read only)</span></label><br>
                <input th:if="${isAdmin}" type="text" readonly th:field="*{login}"/>
                <input th:unless="${isAdmin}" type="text" id="login" placeholder="Придумайте название" required th:field="*{login}"/><br><br>
                <label for="pwd">Password</label><br>
                <input type="password" id="pwd" placeholder="Придумайте пароль" required th:field="*{password}"/><br><br>
                <label for="timezone">Часовой пояс</label><br>
                <select name="tz.id" id="timezone" required>
                    <option disabled th:text="${#strings.concat('Текущий пояс: '
                        , #strings.concat(current.timeZone.timeZoneDbName,' ',current.timeZone.utcOffset))}"></option>
                    <option th:each="tz :${timezones}" th:value="${tz.id}"
                            th:text="${#strings.concat(tz.timeZoneDbName,' ',tz.utcOffset)}"></option>
                </select><br><br>
                <button type="submit" class="btn btn-info" style="float: left">Редактировать</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>